<div
    id="todo-{{this.id}}"
    class="flex items-center mb-4 justify-between"
>
    <div class="flex">
        <input
            name="completed"
            type="checkbox"
            class="h-6 w-6 mr-4"
            hx-patch="/todos/{{this.id}}"
            hx-target="body"
            hx-swap="innerHTML"
            {{#if this.completed}}
            checked
            {{/if}}
        />
        <div>{{this.name}}</div>
    </div>
    <div class="flex gap-4">
        <img
            src="assets/edit.svg"
            alt="Edit"
            class="h-6 w-6 cursor-pointer"
            title="Edit Todo"
            hx-get="/todos/{{this.id}}/edit?filter={{#if this.selectedFilter}}{{this.selectedFilter}}{{else}}{{@root.selectedFilter}}{{/if}}"
            hx-target="#todo-{{this.id}}"
            hx-swap="outerHTML transition:true"
        />
        <img
            src="assets/trash.svg"
            alt="Delete"
            class="h-6 w-6 cursor-pointer"
            title="Delete Todo"
            hx-delete="/todos/{{this.id}}"
            hx-confirm="Are you sure you want to delete todo?"
            hx-target="#todo-{{this.id}}"
            hx-swap="delete transition:true"
            hx-select-oob="#filterBtns"
        />
    </div>
</div>